.header {
  grid-area: header;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* .menu-icon {
  display: none;
} */

.header-left {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
}
